<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container">

    <h3>Users List</h3>
    <hr>



    <table class="table table-light table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Enabled</th>
           <th>Created at</th>
            <th>Details</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.password}"/>
            <td th:text="${user.enabled}"/>
            <td th:text="${user.createdAt}"/>
            <!--            <td th:text="${user.member.role}"/>-->
            <!--            <td th:text="${user.admin.role}"/>-->
            <!--            <td th:text="${user.member.createdAt}"/>-->
            <!--            <td th:text="${user.admin.createdAt}"/>-->
            <td>
                <a th:if="${user.admin != null}" th:href="@{/mvc/admins/ (adminId=${user.admin.id})}"
                   class="btn btn-info btn-sm">Details</a>
                <a th:if="${user.member != null}" th:href="@{/mvc/members/ (memberId=${user.member.id})}"
                   class="btn btn-info btn-sm">Details</a>
            </td>
        </tr>
        </tbody>

    </table>
    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>


</body>
</html>