<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head :: common-head"></th:block>
<body>

<div th:fragment="common-navbar" th:align="center">

    <!--if a member is logged in show-->
    <div th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_MEMBER'')')}">
        <th:block th:replace="~{fragments/navbar :: member-navbar}"></th:block>
    </div>

    <!--if an admin is logged in show-->
    <div th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
        <th:block th:replace="~{fragments/navbar :: admin-navbar}"></th:block>
    </div>

</div>


<div th:fragment="member-navbar" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">A3M</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:href="@{/mvc/members}" class="nav-link">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/mvc/posts}" class="nav-link">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link">Log out</a>
                    </li>

                    <!--                    strong-->
                    <li class="nav-item">
                        <a th:href="@{/mvc/member-form-update}" class="nav-link"
                           th:text="${#authentication.principal.username}"></a>
                    </li>

                    <!-- Show link to member info page for logged-in member -->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a th:href="@{/mvc/member-info/(memberId=${#authentication.principal.id})}" class="nav-link">My Profile</a>-->
                    <!--                    </li>-->


                </ul>
            </div>
        </div>
    </nav>
    <br>
</div>

<div th:fragment="admin-navbar" th:align="center">

    <a th:href="@{/mvc/admin-form}">admin-form</a>
    <span> | </span>
    <a th:href="@{/mvc/admins}">admins</a>
    <span> | </span>
    <br>
</div>


<div th:fragment="friends-navbar" class="container">

    <!-- Friends buttons -->
    <div class="card mb-4">

        <div class="container-fluid">

                    <a th:href="@{/mvc/members}" class="btn btn-primary mx-1">All Members</a>

                    <a th:href="@{/mvc/friendship-invitations}" class="btn btn-primary mx-1">See Friendship
                        Invitations</a>
                    <a th:href="@{/mvc/friends}" class="btn btn-primary mx-1">Your Friends</a>

            </ul>

        </div>


    </div>

    <br>
</div>


</body>
</html>
