<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>

<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>
<div class="container">


<a th:href="@{/mvc/restricted/member-list}">member-list</a>
<br>
<a th:href="@{/mvc/restricted/post-list}">post-list</a>
<br>
<a th:href="@{/mvc/restricted/comment-list}">comment-list</a>
<br>

<a th:href="@{/mvc/restricted/friendshipInvitation-list}">friendshipInvitation-list</a>
<br>



<a th:href="@{/mvc/restricted/cleane-all-from-database}">Clean All Records From Database</a>
<br>

<a th:href="@{/mvc/restricted/create-init-records-into-database}">Create Init Records Into Database</a>
<br>
    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>

</div>
</body>
</html>
