<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Member Form</h3>
                </div>
                <div class="card-body">
                    <!-- form for create or update depending on if there is an id or not -->
                    <form th:action="@{${member.id} == null ? '/mvc/member-form/create' : '/mvc/member-form/update'}"
                          th:object="${member}"
                          method="post">

                        <!-- hidden for update -->
                        <input type="hidden" th:field="*{id}">

                        <!-- username -->
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" th:field="*{user.username}" class="form-control" required>
                        </div>

                        <!-- email -->
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" th:field="*{user.email}" class="form-control" required>
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" th:field="*{user.password}" class="form-control"
                                   required>
                        </div>

                        <input type="hidden" th:field="*{role}"/>

                        <!-- Additional fields for updates only -->
                        <div th:if="${member.id} != null">

                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control"
                                       required>
                            </div>

                            <!-- last name -->
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" required>
                            </div>

                            <!-- birth date -->
                            <div class="form-group">
                                <label for="birthDate">Birth Date:</label>
                                <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" class="form-control"
                                       required>
                            </div>

                            <!-- profile picture -->
                            <div class="form-group">
                                <label for="profilePicture">Profile Picture:</label>
                                <input type="text" id="profilePicture" name="profilePicture" th:field="*{profilePicture}"
                                       class="form-control">
                            </div>

                            <!-- city -->
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" id="city" name="city" th:field="*{city}" class="form-control" required>
                            </div>

                            <!-- country -->
                            <div class="form-group">
                                <label for="country">Country:</label>
                                <input type="text" id="country" name="country" th:field="*{country}" class="form-control" required>
                            </div>

                            <!-- postal code -->
                            <div class="form-group">
                                <label for="postalCode">Postal Code:</label>
                                <input type="text" id="postalCode" name="postalCode" th:field="*{postalCode}" class="form-control"
                                       required>
                            </div>

                            <!-- phone -->
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" id="phone" name="phone" th:field="*{phone}" class="form-control" required>
                            </div>
                        </div>

                        <!-- Submit button (text changes based on create/update) -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"
                                    th:text="*{id} == null ? 'Create Member Account' : 'Update Member Account'"></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</body>
</html>