<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container">

  <h3>Member Cards</h3>
  <hr>

  <div class="row">
    <!-- Member cards -->
    <div th:each="member : ${members}" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${member.user.username}"></h5>
          <p class="card-text">Email: <span th:text="${member.user.email}"></span></p>
          <p class="card-text">Password: <span th:text="${member.user.password}"></span></p>
          <p class="card-text">Role: <span th:text="${member.role}"></span></p>
          <p class="card-text">Created at: <span th:text="${member.user.createdAt}"></span></p>
          <!-- Detail, Update, Delete buttons -->
          <a th:href="@{/mvc/members/(memberId=${member.id})}" class="btn btn-info btn-sm mr-2">Details</a>
          <a th:href="@{/mvc/member-form-update(memberId=${member.id})}" class="btn btn-info btn-sm mr-2">Update</a>
          <a th:href="@{/mvc/member-delete(memberId=${member.id})}" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>


  <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>
</body>
</html>