<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>
<th:block th:replace="~{fragments/navbar :: friends-navbar}"></th:block>

<div class="container">


    <h3>All Members </h3>
    <hr>

    <div class="row">
        <!-- Member cards -->
        <div th:each="member : ${members}" class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <!--            two columns in one row-->
                    <div class="row">
                        <div class="col">
                            <img th:src="${member.profilePicture}" class="card-img-top rounded-circle mx-auto"
                                 style="width: 150px; height: 150px;" alt="Member Photo">
                        </div>
                        <div class="col">
                            <h5 class="card-text"><span th:text="${member.firstName}"></span> <span
                                    th:text="${member.lastName}"></span></h5>
                            <p class="card-text">Username: <br><span th:text="${member.user.username}"></span></p>

<!--                             Detail button -->
<!--                            <div>-->
<!--                                <a th:href="@{/mvc/members/(memberId=${member.id})}"-->
<!--                                   class="btn btn-primary btn-sm mr-2 mt-1 mb-3">Details</a>-->
<!--                            </div>-->

                            <!--friend-invitation-->
                            <div>
                                <form th:action="@{/mvc/friendship-invitation}" method="post">
                                    <input type="hidden" name="acceptingMemberId" th:value="${member.id}" />
                                    <button type="submit" class="btn btn-primary btn-sm">Send Friendship Invitation</button>
                                </form>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>

</div>
</body>
</html>