<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container">

  <h3>Member List</h3>
  <hr>

  <table class="table table-light table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Role</th>
      <th>Created at</th>
      <th>Details</th>
      <th>Update</th>
      <th>Delete</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="member : ${members}">
      <td th:text="${member.user.username}"/>
      <td th:text="${member.user.email}"/>
      <td th:text="${member.user.password}"/>
      <td th:text="${member.role}"/>
      <td th:text="${member.user.createdAt}"/>



      <!--            Details-->
      <td>
        <a th:href="@{/mvc/members/(memberId=${member.id})}" class="btn btn-info btn-sm">Details</a>

        <!--            UPDATE-->
      <td>
        <a th:href="@{/mvc/member-form-update(memberId=${member.id})}" class="btn btn-info btn-sm">Update</a>
      </td>
      <!--            DELETE-->
      <td>
        <a th:href="@{/mvc/member-delete(memberId=${member.id})}" class="btn btn-danger btn-sm">Delete</a>

    </tr>
    </tbody>
  </table>


  <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>
</body>
</html>