<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container">

    <h3>Posts List</h3>
    <hr>

    <table class="table table-light table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Content</th>
            <th>Media Url</th>
            <th>Background</th>
            <th>Comments</th>
            <th>Likes</th>
            <th>Created at</th>

            <th>Details</th>

<!--            <th>Update</th>-->

<!--            <th>Delete</th>-->


        </tr>
        </thead>

        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.member.user.username}"/>
            <td th:text="${post.content}"/>
            <td th:text="${post.mediaUrl}"/>
            <td th:text="${post.background}"/>
            <td th:text="${post.comments.size()}"/>
<!--            <td th:each="comment : ${post.comments}">-->
<!--                <p th:text="${comment.content}"></p>-->
<!--            </td>-->
            <td th:text="${post.likes.size()}"/>
            <td th:text="${post.createdAt}"/>



            <!--            Details-->
            <td>
                <a th:href="@{/mvc/posts/(postId=${post.id})}" class="btn btn-info btn-sm">Details</a>
            </td>

<!--&lt;!&ndash;                            UPDATE&ndash;&gt;-->
<!--            <td>-->
<!--                <a th:href="@{/mvc/post-form-update(postId=${post.id})}" class="btn btn-info btn-sm">Update</a>-->
<!--            </td>-->
<!--&lt;!&ndash;                        DELETE&ndash;&gt;-->
<!--            <td>-->
<!--                <a th:href="@{/mvc/post-delete(postId=${post.id})}" class="btn btn-danger btn-sm">Delete</a>-->
<!--            </td>-->

        </tr>
        </tbody>
    </table>


    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>
</body>
</html>