<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container">

    <h3>Post Info</h3>
    <hr>

    <div>
        <h2>Post Info</h2>
        <label>Username:</label>
        <p th:text="${post.member.user.username}"></p>
        <label>Content:</label>
        <p th:text="${post.content}"></p>
        <label>Media Url:</label>
        <p th:text="${post.mediaUrl}"></p>
        <label>Background:</label>
        <p th:text="${post.background}"></p>
        <label>Comments:</label>
        <p th:text="${post.comments.size()}"></p>
        <ul>
            <li th:each="comment : ${post.comments}">
                <label>Username:</label>
                <p th:text="${comment.member.user.username}"></p>
                <p th:text="${comment.content}"></p>
                <a th:href="@{/mvc/comment-form-update(commentId=${comment.id})}" class="btn btn-info btn-sm">Update Comment</a>
                <a th:href="@{/mvc/comment-delete(commentId=${comment.id})}" class="btn btn-danger btn-sm">Delete Comment</a>
<!--                <form th:action="@{/mvc/like-comment}" method="post">-->
<!--                    <input type="hidden" name="commentId" th:value="${comment.id}"/>-->
<!--                    <button type="submit" class="btn btn-primary">Like</button>-->
<!--                </form>-->
<!--                <form th:action="@{/mvc/unlike-comment}" method="post">-->
<!--                    <input type="hidden" name="commentId" th:value="${comment.id}"/>-->
<!--                    <button type="submit" class="btn btn-secondary">Unlike</button>-->
<!--                </form>-->
            </li>
        </ul>
        <label>Likes:</label>
        <p th:text="${post.likes.size()}"></p>
        <label>Post created at:</label>
        <p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss' )}"></p>
        <br>


        <!--                            UPDATE-->

            <a th:href="@{/mvc/post-form-update(postId=${post.id})}" class="btn btn-info btn-sm">Update</a>

        <!--                        DELETE-->

            <a th:href="@{/mvc/post-delete(postId=${post.id})}" class="btn btn-danger btn-sm">Delete</a>
        <!--                        COMMENT-->

        <a th:href="@{/mvc/comment-form(postId=${post.id})}" class="btn btn-success btn-sm">Leave a comment</a>



        <a th:href="@{/mvc/posts}">Go to Posts</a>
    </div>

    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>
</body>
</html>











